#app {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  width: 10em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  padding: 20px;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.top-movers {
  flex: 3;
  margin-right: 20px;
}

.top-movers h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.mover {
  display: flex;
  justify-content: space-between;
  flex: 1;

  width: 100%;

  align-items: center;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.mover span {
  margin-right: 1%;
}

.icon {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.form-error {
  color: red;
}
