#app {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  width: 10em;
  padding: 1.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

main {
  max-width: 600px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  color: transparent !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: #545b5e8c;
  }
  100% {
    background-color: #545b5e;
  }
}

.skeletonText {
  width: 100%;
  border-radius: 0.25rem;
}
